
<script type="text/javascript">

</script>
<style media="screen">
  .cust{
    width: 40% !important;
    float: left!important;
  }
</style>

<br>
<div class="ui  container">
  <div class="ui segment">
    <div class="ui huge header">
      订单管理
    </div>
    <form class="" action="/webadmin/order/deleteorders" method="post">
      <div class="ui buttons">
        <a href="/system/orders/new" class="ui green basic button">增加</a>
        <button type="submit" class="ui basic red button">批量删除</button>
        <input type="hidden" name="ids" value="" id="orders_delete">
      </div>
    </form>
  </div>
  <div class="ui segment">
    <table class="ui celled table">
      <thead>
        <tr><th width="100">
          全选／反选 <br>
          <div class="ui master checkbox">
            <input type="checkbox">
            <label for=""></label>
          </div>
        </th>
        <th>名称</th>
        <th>上级</th>
        <th>操作</th>
      </tr></thead>
      <tbody>
        <% if @orders.length > 0 and @orders %>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <div class="ui child checkbox" orderid="<%= order.id %>">
              <input type="checkbox" tabindex="0">
              <label for=""></label>
            </div>
          </td>
          <td><%= order.name %> || <%= order.id %></td>
          <td>
            <%=order.order.name if order.order %>
          </td>
          <td>
            <div class="ui">
              <?php echo Html::anchor('/webadmin/order/edit/'.$item->id, '<i class="edit icon"></i> 编辑', array('class' => 'ui labeled icon button')); ?><br/>
  						<?php echo Html::anchor('/webadmin/order/delete/'.$item->id, '<i class="remove icon"></i> 删除', array('class' => 'ui labeled icon button', 'onclick' => "return confirm('是否确认删除?')")); ?>
            </div>
          </td>
        </tr>
        <% end %>
        <% else %>
          <p>暂时没有数据</p>
        <% end %>
      </tbody>
      <tfoot>
        <tr><th colspan="4">
          <?php echo $pagination; ?>
        </th>
      </tr></tfoot>
    </table>
  </div>
</div>
<script type="text/javascript">
$('.master.checkbox')
.checkbox({
  // check all children
  onChecked: function() {
    var
      $childCheckbox  = $('.child.checkbox');
    ;
    $childCheckbox.checkbox('check');
  },
  // uncheck all children
  onUnchecked: function() {
    var
      $childCheckbox  = $('.child.checkbox');
    ;
    $childCheckbox.checkbox('uncheck');
  }
})
;
var ids = '';
$('.child.checkbox').each(function(){
    var id = $(this).attr('orderid');
    $(this).checkbox({
      'onChecked': function(){
        ids = ids+ id+ "|";
        $("#orders_delete").val(ids);

      },
      'onUnchecked': function(){
        var regx = new RegExp(id+'\\|');
        ids = ids.replace(regx, '');

        $("#orders_delete").val(ids);
        if (ids=='') {
          $('.master.checkbox').checkbox('uncheck');
        }
      }
    });
});
</script>
