
<style media="screen">
.masthead.segment {
  min-height: auto;
  padding: 1em 0em;
}
</style>
<div class="ui segment">
  <div class="ui main text container">
    <h2></h2>

      <div class="ui two buttons">
        <div class="ui basic green button">再次分享</div>
        <a href="/cart" class="ui basic red button">认购</a>
      </div>
  </div>

</div>
