<div class="ui divider">

</div>
<div class="ui container">

  <div class="ui segment">
    <div class="ui large header">
      我的购物车
    </div>
    <div class="ui divider">

    </div>
    <div class="ui four column grid">
      <div class="row">
        <div class="column">商品图片</div>
        <div class="column">商品名称</div>
        <div class="column">数量</div>
        <div class="column">操作</div>
      </div>
      <div class="row">
        <div class="column">商品图片</div>
        <div class="column">商品名称</div>
        <div class="column">数量</div>
        <div class="column">操作</div>
      </div>
      <div class="row">
        <div class="column">商品图片</div>
        <div class="column">商品名称</div>
        <div class="column">数量</div>
        <div class="column">操作</div>
      </div>
      <div class="row">
        <div class="six wide column">
          <button type="button" class="ui basic red button" name="button">结算/认购</button>
        </div>
        <div class="six wide column">
          <button type="button" class="ui basic blue button" name="button">继续购物</button>
        </div>
      </div>
    </div>

  </div>
</div>
