<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:share_nodes, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:share_nodes, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :share_node, url(:share_nodes, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'share_nodes/form', :locals => { :f => f } %>
 <% end %>
</div>
