<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:access_controllers, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:access_controllers, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :access_controller, url(:access_controllers, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'access_controllers/form', :locals => { :f => f } %>
 <% end %>
</div>
