<div><style>
.klogin .column {
      max-width: 450px;
    }
</style>
<br/><br/><br/>
<div class="ui segment">
  <div class="klogin ui container" >
  	<div class="ui middle aligned center aligned grid">
  	  <div class="column">
  	    <h2 class="ui image header">
  	      <img src="/admin/images/logo.png" class="tiny image">
  	      <div class="content">
  	        登录到老猫
  	      </div>
  	    </h2>

          <% form_tag url(:login, :index), :class=>"ui large form" do %>


        <div class="ui message">

        </div>
  	      <div class="ui stacked segment">

            <div class="field">
              <div class="ui left icon input">
  	            <i class="phone icon"></i>
                <input type="text" name="mobile" value="" placeholder='请输入您的手机号'>
                <button type="button" class="ui teal button">发送手机验证码</button>
  	          </div>
        		</div>
  	        <div class="field">
  	          <div class="ui left icon input">
  	            <i class="note icon"></i>
  	            <input type="text" name="smstext" value="" placeholder='请输入您的手机验证码'>

  	          </div>
  	        </div>

            <input type="submit" value="登录" class="ui fluid large basic red submit button">
  	      </div>

  	      <div class="ui error message"></div>

  	    <% end %>

  	  </div>
  	</div>
  </div>

</div>
<br/><br/><br/>
</div>
