<style media="screen">
  .tab-view{
    padding:1%;
  }
</style>
<style media="screen">
.masthead.segment {
  min-height: auto;
  padding: 1em 0em;
}
</style>

<div class="ui divider">

</div>
<div class="ui centered container" style="text-align:center;">
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="first">汽车</a>
      <a class="item" data-tab="second">车险</a>
      <a class="item" data-tab="third">车品</a>
    </div>
    <div class="ui bottom attached active tab tab-view" data-tab="first">
      <div class="ui link cards">
        <div class="card">
          <a href="/products/1" class="image">
            <img src="http://car1.autoimg.cn/upload/2013/4/8/u_201304080917124224122.jpg">
          </a>
          <div class="content">
            <div class="header">Matt Giampietro</div>
            <div class="meta">
              <a>Friends</a>
            </div>
            <div class="description">
              Matthew is an interior designer living in New York.
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button">分享</div>
              <a href="/cart" class="ui basic red button">加入购物车</a>
            </div>
          </div>
        </div>
        <div class="card">
          <a  href="/products/1" class="image">
            <img src="http://car2.autoimg.cn/cardfs/product/g6/M10/ED/D9/u_autohomecar__wKjB0VekUEqAQqiWAAhLxUArrVE427.jpg">
          </a>
          <div class="content">
            <div class="header">Molly</div>
            <div class="meta">
              <span class="date">Coworker</span>
            </div>
            <div class="description">
              Molly is a personal assistant living in Paris.
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button">分享</div>
              <a href="/cart" class="ui basic red button">加入购物车</a>
            </div>
          </div>
        </div>
        <div class="card">
          <a  href="/products/1" class="image">
            <img src="http://car3.autoimg.cn/cardfs/product/g22/M10/52/70/u_autohomecar__wKjBwVcpxz6ALqM7AAUnOlkWBbA482.jpg">
          </a>
          <div class="content">
            <div class="header">Elyse</div>
            <div class="meta">
              <a>Coworker</a>
            </div>
            <div class="description">
              Elyse is a copywriter working in New York.
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button">分享</div>
              <a href="/cart" class="ui basic red button">加入购物车</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="ui bottom attached tab tab-view " data-tab="second">
      敬请期待
    </div>
    <div class="ui bottom attached tab tab-view" data-tab="third">
      敬请期待
    </div>
    <script type="text/javascript">
    $('.menu .item')
      .tab()
    ;
    </script>


</div>
