<div class="ui divider">
</div>
<div class="ui segment">
  <div class="ui main text container">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/media-paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
  </div>

</div>
