

<div class="ui segment">
  <div class="ui main text container">
    <h2>产品详情</h2>
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/media-paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <div class="ui two buttons">
        <div class="ui basic green button">分享</div>
        <a href="/cart" class="ui basic red button">加入购物车</a>
      </div>
  </div>

</div>
